.nav-glyphish-example .ui-btn { padding-top: 40px !important; }
.nav-glyphish-example .ui-btn:after { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
#chat:after { background:  url("../img/sample-05-shuffle.png") 50% 50% no-repeat; background-size: 24px 22px; }
#email:after { background:  url("../img/sample-302-swords.png") 50% 50% no-repeat; background-size: 24px 16px;  }
#login:after { background:  url("../img/sample-305-palm-tree.png") 50% 50% no-repeat;  background-size: 12px 26px; }
#beer:after { background:  url("../img/sample-307-atom.png") 50% 50% no-repeat;  background-size: 22px 27px; }
#coffee:after { background:  url("../img/sample-316-truck.png") 50% 50% no-repeat;  background-size: 20px 24px; }
#skull:after { background:  url("../img/sample-321-like.png") 50% 50% no-repeat;  background-size: 22px 24px; }
